.banner-bg--dark{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .6;
}
.ucm-bg{
    padding: 30px 0 70px
}
.content-dark--bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .8;
}
.content-info{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 9999;
    height: 100%;
    padding-top: 3%;
    max-height: 100%;
    overflow-y: scroll
    
}
.close-pop-up--btn{
    position: absolute;
    right: 1%;
    top: 2%;
    color: #e4d805;
    z-index: 99;
    cursor: pointer;
    font-size: 25px;
}